<!-- Page Header-->
<header class="masthead" style="background-image: url('<%= image_path("ian-back.jpg") %>')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>Hello there!</h1>
          <h2 class="subheading"></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
        Myself is a freelance researcher in the area of cryptographic arena. Although I have no knowledge in cryptography foundation such as Number Theory etc, I do have more than 15 years experience in the implementation of system, mainly BouncyCastle Java, using the main cryptography algorithms, from Asymmetric to Symmetric, Hashing to Secret Sharing. 
        </p>
      </div>
    </div>
  </div>
</article>

