<!-- Page Header-->
<header class="masthead" style="background-image: url('<%= image_path("contributors.jpg") %>')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>Contributor</h1>
          <h2 class="subheading">Contributor for the party!</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>As of current, myself <%= link_to "Ian Cameron", contributor_ian_path %> is the maintainer of this weblog space.</p>
      </div>
    </div>
  </div>
</article>

